In [ ]:
class A:
  temp = -5
  def __init__(self):
    self.sum = 0
    self.y = 0
    self.y = self.temp - 3
    self.sum = A.temp + 2
    A.temp -= 2
  def methodA(self, m ,n):
    x = 1
    A.temp += 1
    self.y = self.y + m + self.temp
    x = x + 1 + n
    self.sum = self.sum + x + self.y
    print(f"{x} {self.y} {self.sum}")
 
class B(A):
  x = -10
  def __init__(self, b = None):
    super().__init__()
    self.y = 4
    self.temp = -5
    self.sum = 2
    if b == None:
      self.y = self.temp + 3
      self.sum = 3 + self.temp + 3
      self.temp -= 2
    else:
      self.sum = b.sum
      B.x = b.x
      b.methodB(1,3)
  def methodA(self, m, n):
    x = 1
    self.temp += 1
    self.y = self.y + m + self.temp
    x = x + 7 + n
    super().methodA(x, m)
    self.sum = self.sum + x + self.y
    print(f"{x} {self.y} {self.sum}")
  def methodB(self, m, n):
    y = 3
    y = y + self.y
    B.x = self.y + 3 + self.temp
    self.methodA(B.x, y)
    self.sum = self.x + y + self.sum
    print(f"{B.x} {y} {self.sum}")
 
Consider the following code: 
a1 = A()
b1 = B()
b2 = B(b1)
b1.methodA(3,2)
b2.methodB(1,2)

In [ ]:
class PlayerEarning:
  def __init__(self, name):
    self.name= name
  def calculateTotal(self, wo_bonus, goal=''):
    self.wo_bonus= wo_bonus
    self.goal= goal
    if self.goal!='':
      if self.goal>30:
        self.bonus= (5/100)*self.wo_bonus+ 10000
      else:
        self.bonus= (5/100)*self.wo_bonus
    else:
      self.bonus=0
    self.total= self.wo_bonus+ self.bonus
  def printDetails(self):
    print(f"Player Name: {self.name}\nPlayer Season Earning without bonus: {self.wo_bonus}\nBonus: {int(self.bonus)}\nPlayer Season Earning After Bonus: {int(self.total)}")


print("**********************")
player1 = PlayerEarning('Buffon')
player1.calculateTotal(250000)
player1.printDetails()

print("\n**********************")
player2 = PlayerEarning('Dybala')
player2.calculateTotal(250000, 31)
player2.printDetails()

print("\n**********************")
player3 = PlayerEarning('Cuadrado')
player3.calculateTotal(250000, 20)
player3.printDetails()

In [ ]:
class myList:
  def __init__(self, *args):
    self.listy=[]
    if len(args)!=0:
      for i in args:
        self.listy.append(i)
    else:
      self.listy.append(0)
      self.summation=0
  def sum(self):
    self.summation=0
    for i in self.listy:
      self.summation+= i
    print('Sum:',self.summation)
  def merge(self, *args):
    for i in args:
      self.listy.append(i)
  def average(self):
    if self.summation==0:
      self.avg=0
    else:
      self.avg= self.summation/(len(self.listy))
    print('Average:', self.avg)


l1 =  myList(2,3,4,5,6) #you might need a list inside your class to store the values
l1.sum()
l1.merge(4,5,9)
l1.sum()
l1.average()
print('-----------------------------')
l2 =  myList()
l2.average()
l2.merge(1,2,4,8)
l2.sum()

Sum: 20
Sum: 38
Average: 4.75
-----------------------------
Average: 0
Sum: 15

In [43]:
class University:
  name  = "ABC University"
  numberOfStudents = 0
  admissionFee = 28000
  Library = 2000
  def __init__(self, n,i):
    self.stName = n
    self.stId = i         	
  def payment(self):
    return self.admissionFee + self.Library	
  def __str__(self):
    return "Student Name: {}, ID: {}\nFee: {}".format(self.stName, self.stId, self.payment())
 
# Write your codes here.
class CSE_dept(University):
  PerCreditFee= 6600
  SemesterFee= 7700
  LabFee= 2750
  def __init__(self, name, id, credit=6):
    super().__init__(name, id)
    self.Credit= credit    
  def __add__(self, other):
    return self.payment()+other.payment()
  def payment(self):
    return self.admissionFee+ self.Library+ self.SemesterFee+ self.PerCreditFee*self.Credit+ self.LabFee
  def payment_details(self):
    University.numberOfStudents+=1
    print(f"\nDETAILS:\nAdmission Fee: {self.admissionFee}\nLibrary Fee: {self.Library}\nSemester Fee: {self.SemesterFee}\nPer Credit Fee: {self.PerCreditFee}\nNumber of credits: {self.Credit}\nLab Fee: {self.LabFee}")

class PHR_dept(University):
  PerCreditFee= 6600
  SemesterFee= 11000
  def __init__(self, name, id, credit=9):
    super().__init__(name, id)
    self.Credit= credit
  def payment(self):
    return self.admissionFee+ self.Library+ self.SemesterFee+ self.PerCreditFee*self.Credit
  def __add__(self, other):
    return self.payment()+other.payment()
  def payment_details(self):
    University.numberOfStudents+=1
    print(f"\nDETAILS:\nAdmission Fee: {self.admissionFee}\nLibrary Fee: {self.Library}\nSemester Fee: {self.SemesterFee}\nPer Credit Fee: {self.PerCreditFee}\nNumber of credits: {self.Credit}")
c1 = CSE_dept("Mary","5678")  
print(c1)
c1.payment_details()
print("===========================")
p1 = PHR_dept("Simon","91011")  
print(p1)
p1.payment_details()
print("===========================")
c2 = CSE_dept("Adam","1234", 12)  
print(c2)
c2.payment_details()
print("===========================")
p2 = PHR_dept("David","121314", 15)  
print(p2)
p2.payment_details()
print("===========================")
print("Total Number of Students:", University.numberOfStudents)
print("Total University Revenue:", (c1 + c2) + (p1 + p2))
print("===========================")
print("Due to the pandemic, admission and library fees have been reduced for all departments. ")
University.admissionFee -= 1000
University.Library -= 100
print("The credit, semester and lab fees have been reduced for the CSE department. ")
CSE_dept.PerCreditFee -= 100
CSE_dept.SemesterFee -= 100
CSE_dept.LabFee -=100
print("The credit and semester fees have been reduced for the PHR department.\n ")
PHR_dept.PerCreditFee -= 100
PHR_dept.SemesterFee -= 1000
print(c1)
print(p1)
print(c2)
print(p2)
print("===========================")
print("Total Number of Students:", University.numberOfStudents)
print("Total University Revenue:", (c1 + c2) + (p1 + p2))

Student Name: Mary, ID: 5678
Fee: 80050

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 7700
Per Credit Fee: 6600
Number of credits: 6
Lab Fee: 2750
===========================
Student Name: Simon, ID: 91011
Fee: 100400

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 11000
Per Credit Fee: 6600
Number of credits: 9
===========================
Student Name: Adam, ID: 1234
Fee: 119650

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 7700
Per Credit Fee: 6600
Number of credits: 12
Lab Fee: 2750
===========================
Student Name: David, ID: 121314
Fee: 140000

DETAILS:
Admission Fee: 28000
Library Fee: 2000
Semester Fee: 11000
Per Credit Fee: 6600
Number of credits: 15
===========================
Total Number of Students: 4
Total University Revenue: 440100
===========================
Due to the pandemic, admission and library fees have been reduced for all departments.
The credit, semester and lab fees have been reduced for the CSE department.
The credit and semester fees have been reduced for the PHR department.

Student Name: Mary, ID: 5678
Fee: 78150
Student Name: Simon, ID: 91011
Fee: 97400
Student Name: Adam, ID: 1234
Fee: 117150
Student Name: David, ID: 121314
Fee: 136400
===========================
Total Number of Students: 4
Total University Revenue: 429100